<!doctype html>
<html ng-app="myApp">
  <head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
  </head>
  <body>
    <script type="text/ng-template" id="pages/form.html">
         
         <form name = "interviewForm" novalidate ng-submit="saveRegDetails()">
            <table border = "0">
               <tr>
                  <td>Interview purpose</td>
                  <td>
                  <select ng-model="purposeDropdown" ng-options="x for x in purpose" required>
                    <option value=''>-Select-</option>
                  </select>
                     <span style = "color:red" ng-show = "interviewForm.purposeDropdown.$dirty && interviewForm.purposeDropdown.$invalid">
                        <span ng-show = "interviewForm.purposeDropdown.$error.required">Interview purpose is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>City </td>
                  <td>
                  <select ng-model="cityDropdown" ng-options="y for y in city" required>
                    <option value=''>-Select-</option>
                  </select>
                  
                     <span style = "color:red" ng-show = "interviewForm.cityDropdown.$dirty && interviewForm.cityDropdown.$invalid">
                        <span ng-show = "interviewForm.cityDropdown.$error.required">City is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>ElseWhere </td>
                  <td><input name = "elsewhere" ng-show="cityDropdown=='Elswhere'" ng-model = "elsewhere" required>
                     <span style = "color:red" ng-show = "interviewForm.elsewhere.$dirty && interviewForm.elsewhere.$invalid">
                        <span ng-show = "interviewForm.elsewhere.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Address </td>
                  <td><textarea name = "address" ng-model = "address" required></textarea>
                     <span style = "color:red" ng-show = "interviewForm.address.$dirty && interviewForm.address.$invalid">
                        <span ng-show = "interviewForm.address.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Interviewer </td>
                  <td><input name = "interviewer"  type = "text" ng-model = "interviewer" required>
                     <span style = "color:red" ng-show = "interviewForm.interviewer.$dirty && interviewForm.interviewer.$invalid">
                        <span ng-show = "interviewForm.interviewer.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Interviewee </td>
                  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
                     <span style = "color:red" ng-show = "interviewForm.lastname.$dirty && interviewForm.lastname.$invalid">
                        <span ng-show = "interviewForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Interviewee email </td><td><input name = "email" type = "email" ng-model = "email" length = "100" required>
                     <span style = "color:red" ng-show = "interviewForm.email.$dirty && interviewForm.email.$invalid">
                        <span ng-show = "interviewForm.email.$error.required">Email is required.</span>
                        <span ng-show = "interviewForm.email.$error.email">Invalid email address.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Interviewee phone number </td>
                  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
                     <span style = "color:red" ng-show = "interviewForm.lastname.$dirty && interviewForm.lastname.$invalid">
                        <span ng-show = "interviewForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Date </td>
                  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
                     <span style = "color:red" ng-show = "interviewForm.lastname.$dirty && interviewForm.lastname.$invalid">
                        <span ng-show = "interviewForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>Unique interview ID </td>
                  <td><input name = "uniqueId"  ng-readonly="true" ng-model = "uniqueId" required>
                  <button ng-click="generateID()">Generate ID</button>
                     <span style = "color:red" ng-show = "interviewForm.uniqueId.$dirty && interviewForm.uniqueId.$invalid">
                        <span ng-show = "interviewForm.uniqueId.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>
                     <button ng-click = "reset()">Reset</button>
                  </td>
                  <td>
                     <button ng-disabled = "interviewForm.firstname.$dirty &&
                        interviewForm.firstname.$invalid || interviewForm.lastname.$dirty &&
                        interviewForm.lastname.$invalid || interviewForm.email.$dirty &&
                        interviewForm.email.$invalid" ng-click="submit()">Submit</button>
                  </td>
               </tr>
          
            </table>
         </form>
      

    </script>
    <script type="text/ng-template" id="pages/details.html">
    <table border = "0">
      <tr>
        <th>Name</th>
        <th>Marks</th>
      </tr>

      <tr ng-repeat = "subject in student.subjects">
        <td>{{ subject.name }}</td>
        <td>{{ subject.marks }}</td>
      </tr>
    </table>

    </script>

    <a href="#/">Home</a>
    <a href="#/details">All Info</a>

    <div ng-view></div>

    <script src="app.js"></script>
  </body>
</html>